<h1>Tweet Sentiment Analyzer</h1>
<p>Paste in a tweet to analyze its sentiment</p>

<%= form_for :tweet_form, url: "tweets", method: "get" do |form| %>
  <%= form.text_area :tweet, rows: 5, cols: 100 %>
  <%= form.submit "Submit Tweet Text" %>
<% end  %>

<br/>
<hr/>

<% if @tweet %>
  <h1><%= @tweet %></h1>
  <% if @sentiment %>
    <h2><%= @sentiment %></h2>
  <% end %>
<% else %>
  <p>Tweet analysis will show up here once you submit</p>
<% end %>